{# this text is placed by the satchmo_order template tag "order_tracking_details" #}
{% load i18n %}
{% load satchmo_currency %}
{% load satchmo_checkout %}
{% load satchmo_util normalize_decimal %}

<div class="pull-left">

<div class="">
    <h1>{% trans 'Order #' %} {{ order.id }}</h1>
    <h2>{% trans 'Status' %}</h2>
    {% for status in order.orderstatus_set.all %}
    <p>{{status.time_stamp|date:"F jS Y H:i" }}: {{ status.status|status_label }}<br/>
        {% if status.notes %}
        <span class="label label-success">{{ status.status|status_label }}</span>
        {% endif %}
    </p>
    {% endfor %}
</div>

<div class="">
    <h4>{% trans "Items Ordered" %}</h4>
    {% for item in order.orderitem_set.all %}
    {{ item }} - {{item.unit_price|currency}} x {{item.quantity|normalize_decimal}}{% if item.discount %} - {{ item.discount|currency }}{% endif %} = {{item.sub_total|currency}}<br/>
    {% endfor %}
</div>

<div class="">
    <h2>{% trans "Total" %}</h2>
    {% if order.discount %}
        {% trans "Discount" %} - {{order.discount|currency}}<br/>
    {% endif %}
    {% if order.is_shippable %} {% trans "Shipping" %} + {{order.shipping_sub_total|currency}}
    <br/> {% endif %}
    {% if order.tax %}
        {% trans "Tax" %} + {{order.tax|currency}}<br/>
    {% endif %}
    {% trans "Total" %} = {{order.total|currency}}<br/>

    {% order_payment_summary order paylink %}
</div>
    {% if order.shipping_method %}

    <div class="">
    <h2>{% trans "Shipping Method" %}</h2>
    {{ order.shipping_description }}<br/>
    <strong>{% autoescape off %}{{ order.shipping_extimated_date }}{% endautoescape %}</strong><br/>
    {% ifnotequal order.shipping_method order.shipping_description %}{{ order.shipping_method }}<br/>{% endifnotequal %}
    {{ order.shipping_sub_total|currency }}<br/>
    </div>
    {% endif %}

{% if order.is_shippable %}
 <h2>{% trans "Shipping To" %}</h2>
{{ order.ship_addressee }}<br />
{{ order.full_ship_street }}, {{ order.ship_postal_code }}<br />
{{ order.ship_city }}<br />
{{ order.ship_state }}<br />
{{ order.ship_country_name|title }}<br />

{% endif %}
</div>