{% extends "shop/base.html" %}
{% load i18n %}

{% block navbar %}
   <li class="first"><a href="{% url satchmo_home %}">{% trans "Home" %}</a><span class="divider">/</span></li>
   <li>{% trans 'Password reset confirmation' %}</li>
{% endblock %}

{% block content %}
<div id="reset-password">
    <form action="." method="post">
    {% if validlink %}
        {% csrf_token %}
        <h1 class="page-header">{% trans 'Enter new password' %}<small>{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</small></h1>
    <fieldset>
        <div class="control-group">
            <div class="control-label">
                <label for="id_new_password1">{% trans 'New password:' %}</label>
            </div>
            <div class="controls">
                {% if form.new_password1.errors %}
                <div class="alert alert-error">
                    {{ form.new_password1 }}
                    <div>{{ form.new_password1.errors }}</div>
                </div>
                {% else %}
                    {{ form.new_password1 }}
                {% endif %}
            </div>
        </div>
    	<div class="control-group">
            <div class="control-label">
                <label for="id_new_password2">{% trans 'Confirm password:' %}</label>
            </div>
            <div class="controls">
                {% if form.new_password2.errors %}
                <div class="alert alert-error">
                    {{ form.new_password2 }}
                    <div>{{ form.new_password2.errors }}</div>
                </div>
                {% else %}
                    {{ form.new_password2 }}
                {% endif %}
            </div>
        </div>
    </fieldset>
	<div class="action">
	    <input type="submit" class="btn btn-primary" value="{% trans 'Change my password' %}" />
    </div>
    {% else %}
        <h1 class="page-header">{% trans 'Password reset unsuccessful' %}</h1>
        <div class="alert alert-error">
            {% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}
        </div>
    {% endif %}
    </form>
</div>
{% endblock %}
