{% extends "shop/base.html" %}
{% load i18n %}

{% block navbar %}
   <li class="first"><a href="{% url satchmo_home %}">{% trans "Home" %}</a><span class="divider">/</span></li>
{% endblock %}

{% block content %}
<div id="reset-password">
<form action="{% url auth_password_reset %}" method="post">
    {% csrf_token %}
    <h1 class="page-header">{% trans "Reset your password" %}</h1>
	<p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send a new password to you." %}</p>

    <fieldset>
        <div class="control-group">
	        <div class="control-label">
                <label for="id_email">{% trans "E-mail address" %}</label>
            </div>
            <div class="controls">
    	        {% if form.email.errors %}
                <div class="alert alert-error">
                    {{ form.email }}
                    <div>{{ form.email.errors }}</div>
                </div>
                {% else %}
                    {{ form.email }}
            	{% endif %}
    	        <span class="help-block">{% trans "Be sure to enter the same e-mail address you used to register." %}</span>
            </div>
        </div>
	</fieldset>
	<div class="action">
        <input id="id_submit" class="btn btn-primary"  type="submit" value="{% trans "Reset password" %}" />
    </div>
</form>
</div>
{% endblock %}
