{% extends "shop/base.html" %}
{% load i18n %}

{% block navbar %}
   <li class="first"><a href="{% url satchmo_home %}">{% trans "Home" %}</a><span class="divider">/</span></li>
   <li><a href="{% url satchmo_account_info %}">{% trans "Account" %}</a><span class="divider">/</span></li>
   <li>{% trans "Password Change" %}</li>
{% endblock %}

{% block content %}
<div id="pw-change">
<form action="{% url auth_password_change %}" method="post">
    {% csrf_token %}
    <h1 class="page-header">{% trans "Change your password" %} <small>{% trans "For the sake of security, please enter your old password, and then enter your new password twice." %}</small></h1>
    <fieldset>
        <div class="control-group">
        	<div class="control-label">
                <label for="id_old_password">{% trans "Old password" %}</label>
            </div>
            <div class="controls">
                {% if form.old_password.errors %}
                    <div class="alert alert-error">
                       {{ form.old_password }}
                       <div>{{ form.old_password.errors }}</div>
                    </div>
                {% else %}
                    {{ form.old_password }}
               {% endif %}
            </div>
        </div>
    	<div class="control-group">
        	<div class="control-label">
                <label for="id_new_password1">{% trans "New password" %}</label>
            </div>
            <div class="controls">
                {% if form.new_password1.errors %}
                    <div class="alert alert-error">
        	           {{ form.new_password1 }}
        	           <div>{{ form.new_password1.errors }}</div>
                    </div>
                {% else %}
                    {{ form.new_password1 }}
        	   {% endif %}
            </div>
        </div>
    	<div class="control-group">
        	<div class="control-label">
                <label for="id_new_password2">{% trans "Confirm new password" %}</label>
            </div>
            <div class="controls">
                {% if form.new_password2.errors %}
                    <div class="alert alert-error">
                       {{ form.new_password2 }}
                       <div>{{ form.new_password2.errors }}</div>
                    </div>
                {% else %}
                    {{ form.new_password2 }}
               {% endif %}
            </div>
        </div>
    <fieldset>
    <div class="form-actions">
	    <input type="submit" class="btn btn-primary" value= "{% trans "Change password" %}" />
	</div>
</form>
</div>
{% endblock %}
