{% extends "shop/base.html" %}
{% load i18n %}

{% block navbar %}
   <li class="first"><a href="{% url satchmo_home %}">{% trans "Home" %}</a><span class="divider">/</span></li>
   <li><a href="{% url satchmo_account_info %}">{% trans "Account" %}</a><span class="divider">/</span></li>
   <li>{% trans "Password Change Done" %}</li>
{% endblock %}

{% block content %}

<h1 class="page-header">{% trans "Password change successful" %}</h1>
    <div class="alert alert-success">{% trans "Your password change has been completed." %}</div>

{% endblock %}
